*{
    font-family: 'Jua', sans-serif;
}
/* 로그인 css */

.title{
    width: 160px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.login-wrap{
    width:450px;
    height: 1000px;
    margin:auto;
}
.justy-center {
    justify-content: center;
}

.button-block .login-btn button,
.button-block .signup-btn button {
    width: 100%;
    margin-bottom: 15px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-between button, .flex-between a{
    width:45%;
}

.help {
    font-size: 12px;
}

/* 홈 */
.home_title {
    text-align: center;
    font-size : 5.5em;;
    margin: auto;
    display: block;
}

.top {
    width:90%;
    height:370px;
    margin: 0 5% 0 5%;
    padding: 100px;
    color:rgb(255, 255, 255);
    background-image: url(../images/background_Logo.png);
    background-size: 100% 100%;
}

.container_mid {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
    /* flex-wrap: nowrap; */
    height: 80px;
    align-items: center;
    flex-grow: 1;
}

.post-title {
    text-align: center;
    font-size: 1.3rem;
}

.post-text {
    margin: 15px;
}
/* 배너 */
.banner {
    width: 100%;
    height: 150px;
    background-color: yellow;
    display: flex;
}

.banner-title {
    width: 170px;
    margin: 0 auto 20px auto;
    font-size: 20px;
}

.login-tag {
    margin-right: 10px;
}
.searchForm{
    display: flex;
}

/* modal */
.hidden {
    display: none !important;
}
.show{
    display: block !important;
}
.modal{
    background-color: rgba(0,0,0,0.4);
}

/* font color */
.warn {
    color: red;
}

.pass {
    color: yellowgreen;
}

/* list css */
.wrap {
    width: 800px;
    height: 1000px;
    margin: auto;
}

.image-preview {
  text-align: center;
  padding-bottom: 10px;
}

.submit-title {
  padding-top: 10px;
  text-align: center;
}

.posting-box {
    width: 500px;
    margin: auto;
}

.input-title {
    padding-top: 10px;
}

.input-content {
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn-wrap {
    text-align: center;
}
.up-margin {
    margin-top: 30px;
}
/* detail css */
.asdf {
  background-color: white;
  width: 800px;
  height: 1000px;
  margin: auto;
  text-align: center;
}

.card-body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;

}

.card-img {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* home */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* main css */
.general {
    max-width: 1320px;
    margin: 20px auto;
}

.container_top{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding-top: 5px;
    max-width: 1320px;
    margin: 0 auto;
}


/* base */

.detail {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: .25rem .5rem;
    font-size: 20px;
    border-radius: .5rem;
    border: gray;
    border-width: 2rem;
}

#b_img {
    height: 80px;
}

.submit-link {
    display: flex;
}

.rk_rg {
    font-size: 30px;
}

.post_card {
    margin: 20px auto;
    background-color: blueviolet;
}

#card-img2 {
    width: 200px;
}

#title {
    font-size: 60px;
    text-align: center;
    margin: auto;
}