{% extends 'base.html' %} 
{% block head %}
  <script defer src="{{ url_for('static', filename='js/upload.js') }}"></script>
  <!-- <script>
    let post = '{{ post }}'
  </script> -->
{% endblock %}
{% block content %}

<div class="asdf">
  <div>
    <div class="card text-white">
      <img
        class="card-img"
        src={{ post.img }}
        alt="Card image"
      />
    <div class="card-img-overlay"></div>
    </div>
  </div>
  <div>
    <div class="card text-center">
      <div class="card-header">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="card-body">
        <p class="card-title">{{ post.content }}</p>
      </div>
    </div>
    <div></div>
    <div>
      <a
        href='javascript:;'
        class="btn btn-primary btn-lg active"
        role="button"
        aria-pressed="true"
        onclick="editList()"
        >수정</a
      >
      <a
        href='javascript:;'
        class="btn btn-secondary btn-lg active"
        role="button"
        aria-pressed="true"
        onclick="deleteList()">삭제</a
      >
    </div>
  </div>
</div>

{% endblock %}
