{% extends 'base.html' %}
{% block head %}  
    <script defer src="{{ url_for('static', filename='css/style.css') }}"></script>
    <script defer src="{{ url_for('static', filename='js/viewlist.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="general">
        <div>
            <div class="top">
                <p id="title">야 너두 할 수 있어!</p>
            </div>
            <hr style="background-color: black">
        </div>
        <div class="middle">

            <div class="container_mid">
                <div class="item">
                    <a class="rk_rg" href="#" onclick="window.location.href='/submit'">등록</a>
                </div>

                <div class="item">
                    <div class="input-group mb-3 rk_rg">
                        <label class="input-group-text" for="inputGroupSelect01">정렬</label>
                        <select class="form-select" onchange=`array(${inputGroupSelect01})` id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">좋아요</option>
                            <option value="2">최신</option>
                            <option value="3">etc...</option>
                        </select>

                    </div>

                </div>
            </div>
            <div id="list-box">

            </div>
        </div>
    </div>


{% endblock %}