{% extends 'base.html' %}

{% block head %}  

    <script defer src="{{ url_for('static', filename='js/viewlist.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="general">
        <div>
            <div class="top">
                <p id="title">야 너두 할 수 있어!</p>
            </div>
            <hr style="background-color: black">
        </div>
        <div class="middle">

            <div class="container_mid">
                <div class="item">
                    <a class="rk_rg" href="#" onclick="window.location.href='/list_save'">등록</a>
                </div>

                <div class="item">
                    <div class="input-group mb-3 rk_rg">
                        <label class="input-group-text" for="inputGroupSelect01">정렬</label>
                        <select class="form-select" onchange=`array(${inputGroupSelect01})` id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">좋아요</option>
                            <option value="2">최신</option>
                            <option value="3">etc...</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="list-box">
                {% for i in all_list %}
                {%set title = i.title%}
                {%set img_file = i.file%}
                {%set content = i.content%}
                {%set likes = i.likes%}
                {%set id = i._id%}
                <div class="card mb-3 middle" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='img/' + img_file) }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="card-title" href="/list_detail/{{id}}">{{title}} (좋아요: {{likes}})</a>
                                <p class="card-text">{{content}}</p>
                                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                            </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary me-md-2" onclick="toggle_like('{{id}}', 'heart')" type="button">좋아요</button>
                                    <button class="btn btn-primary" onclick="deletelist('${name}')" type="button">싫어요</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}