{% extends 'base.html' %} {% block head %}
<script defer src="{{ url_for('static', filename='js/update.js') }}"></script>
<script defer src="{{ url_for('static', filename='css/style.css') }}"></script>

{% endblock %} {% block content %}
<div class="wrap">
  
  <!-- 이미지 -->
  <div class="image-preview">
    <img class="img" id="preview-img" src="{{ url_for('static', filename='img/' + post['file']) }}" height="300" width="300" />
  </div>

  <!-- postingbox -->
  <div class="posting-box">
    <div class="input-group mb-3">
      <input type="file" class="form-control img" id="inputGroupFile02" name="file"
      value="{{ url_for('static', filename='img/' + post['file']) }}"/>
    </div>

    <div class="input-title">
      <label>제목</label>
      <input type="text" id="subject" class="form-control" placeholder="제목을 입력하세요" aria-label="Username"
        aria-describedby="basic-addon1" value="{{ post.title }}">
    </div>

    <div class="input-content">
      <label>내용</label>
      <textarea id="content" class="form-control" placeholder="내용을 입력하세요" aria-label="With textarea" rows="10"
      >{{ post.content }}</textarea>
    </div>

    <div class="btn-wrap">
      <button type="button" class="btn-submit btn btn-primary" onclick="update_post()">수정완료</button>
      <button type="button" class="btn-cancel btn btn-secondary" onclick="window.location.href='/'">목록으로
      </button>

    </div>
  </div>
</div>

{% endblock %}