{% extends 'base.html' %} {% block head %}
<script defer src="{{ url_for('static', filename='js/upload.js') }}"></script>

{% endblock %} {% block content %}
<div class="wrap">
  <div class="posting-box">
    <h4 class="title">버킷리스트 등록</h4>
    <label>이미지 미리보기</label>
    <div class="image-preview">
      <img class="img" id="preview-img" src="" height="300" width="300" />
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" />
    </div>

    <div class="input-title">
      <label>제목</label>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력하세요"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>

    <div class="input-content">
      <label>내용</label>
      <textarea
        class="form-control"
        placeholder="내용을 입력하세요"
        aria-label="With textarea"
        rows="10"
      ></textarea>
    </div>

    <div class="btn-wrap">
      <button type="button" class="btn-submit btn btn-primary">등록</button>
      <button
        type="button"
        class="btn-cancel btn btn-secondary"
        onclick="window.location.href='/'"
      >
        취소
      </button>
    </div>
  </div>
</div>

{% endblock %}
